$main-background-color: #FAFAFA;
$main-color: #212121;
$main-max-width: 1600px;

main {
    margin-top: 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;

    .container {
        background-color: $main-background-color;
        width: 100%; max-width: $main-max-width;
        padding: 20px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "fn ln"
                             "email email"
                             "ta ta"
                             "submit submit";    

        .contact-name, .first-name, .last-name, .email, .textarea {
            display: flex;
            flex-direction: column;
            padding: 20px;
            position: relative;

            label {
                padding-bottom: 20px;
                text-transform: uppercase;
                font-weight: 300;
                font-size: 1.1em;
            }

            input {
                border: 1px solid #E0E0E0;
                height: 50px;
                padding: 0 40px;
                font-family: 'Roboto', sans-serif;
                font-size: 1em;
                font-weight: 400;
            }

            span {
                display: flex;
                flex-direction: column;
                justify-content: center;
                text-align: center;
                position: absolute;
                left: 20px; bottom: 20px;
                width: 30px; height: 50px;
                background-color: #BDBDBD;
            }
        }

        .first-name {
            grid-area: fn;
        }

        .last-name {
            grid-area: ln;
        }

        .email {
            grid-area: email;
        }

        .textarea {
            grid-area: ta;
            position: relative;

            textarea {
                border: 1px solid #E0E0E0;
                font-family: 'Roboto', sans-serif;
                font-size: 1em;
                font-weight: 400;
                padding: 10px 10px 0 10px;
                height: 300px;
                min-height: 100px;
                max-width: 100%;
                min-width: 100%;
            }
        }

        .submit {
            grid-area: submit;
            margin: 10px 20px;
            position: relative;
            text-align: right;

            button {
                cursor: pointer; 
                width: 200px; height: 50px;
                font-family: 'Roboto', sans-serif;
                font-size: 1.2em;
                font-weight: 400;
                background-color: #BDBDBD;
                border: 1px solid #E0E0E0;
                text-align: center;
                // text-transform: uppercase;

                .fas {
                    margin-left: 6px;
                    font-size: 0.8em;
                }
            }
        }
    }
}

@media screen and (max-width: 650px) {
    main {
        .container {
            padding: 0;
            grid-template-columns: 1fr;
            grid-template-areas: "fn"
                                 "ln"
                                 "email"
                                 "ta"
                                 "submit";

            .first-name {
                grid-area: fn;
            }
    
            .last-name {
                grid-area: ln;
            }
    
            .email {
                grid-area: email;
            }

            .textarea {
                grid-area: ta;
            }
    
            .submit {
                grid-area: submit;
            }
        }
    }
}