$header-background-color: #FAFAFA;
$header-title-color: #212121;
$header-nav-color: #212121;

$header-max-width: 1600px;
$header-height: 80px;

header {
    position: fixed;
    display: flex;
    justify-content: center;
    z-index: 3;

    top: 0; left: 0; right: 0;
    width: 100%;

    background-color: $header-background-color;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);

    .container {
        display: flex;
        flex-direction: row;
        flex: 1;

        width: 100%; max-width: $header-max-width;
        min-height: $header-height;
        padding: 0 20px;

        .title {
            display: flex;
            flex-direction: column;
            justify-content: center;

            a {
                font-family: 'Parisienne', cursive;
                font-size: 3em;
                margin-top: 5px;
                color: $header-title-color;
                
            }
        }

        .navigation {
            flex: auto;
            display: flex;
            justify-content: flex-end;
            font-size: 1.2em;

            .navigation-link {
                line-height: $header-height - 30px;
                text-align: center;
                margin: 15px 0 15px 40px;
                color: $header-nav-color;
                padding: 0 10pt;
                border: 1px solid transparent;

                .fas {
                    margin-left: 7px;
                    font-size: .8em;
                }

                &.active {
                    color: #666666;
                    border: 1px solid #BDBDBD;
                }
            }

            #navigation-user {
                cursor: pointer;
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: center;
                margin-left: 40pt;
                font-size: 0.9em;
                font-weight: 300;

                .user-label {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    text-align: center;
                    
                    .user-name, .user-avatar {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        text-align: center;
                    }
                    
                    .user-name {
                        height: 40px;
                    }

                    .user-avatar {
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                        overflow: hidden;
                        margin-left: 15px;
                       
                        img {
                            width: 100%; height: 100%;
                        }
                    }
                }

                #user-menu {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    position: absolute;
                    text-align: center;
                    top: $header-height;
                    left: 0;
                    width: 100%;
                    background-color: $header-background-color;
                    height: auto; 
                    overflow: hidden;
                    max-height: 500px;
                    opacity: 1;
                    transition: max-height .7s linear, opacity .2s ease-in-out;
                    border: 1px solid #BDBDBD;
                    border-top: 0;
                    z-index: 5;


                    &.hidden {
                        max-height: 0;
                        opacity: 0;
                    }

                    a {
                        padding: 10px 0;
                        border-top: 1px solid #E0E0E0;
                        color: $header-nav-color;
                        font-size: 0.9em;
                        transition: all .2s ease-in-out;
                        
                        &:hover {
                            background-color: #D1D1D1;
                        }

                        .fas {
                            margin-right: 7px;
                            font-size: 0.8em;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1000px) {
    header {
        position: absolute;

        .container {
            min-height: 2 * $header-height;
            flex-direction: column;

            .title {
                text-align: center;
                height: $header-height;
            }

            .navigation {
                height: $header-height;
                justify-content: space-around;

                .navigation-link, #navigation-user {
                    margin-left: 0;
                    padding: 0;
                }

            }
        }
    }
}

@media screen and (max-width: 650px) {
    header .container .navigation .navigation-link, #navigation-user {
        font-size: 0.9em;
    }
}

@media screen and (max-width: 450px) {
    header {
        position: relative;

        .container {
            padding-bottom: 15px;

            .navigation {
                height: auto;
                flex-direction: column;
                padding: 0 30px;

                .navigation-link, #navigation-user {
                    font-size: 0.8em;
                    margin: 0;
                    border-top: 1px solid #BDBDBD;
                }

                .navigation-link:first-child {
                    border-color: transparent;
                }

                #navigation-user {
                    padding-top: 10px;
                }
            }
        }
    }

    main {
        margin-top: 0 !important;
    }
}

