$main-background-color: #FAFAFA;
$main-color: #212121;
$main-max-width: 1600px;

main {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 80px;    

    .container {
        display: grid;
        grid-template-columns: 60% 40%;
        background-color: $main-background-color;
        width: 100%; max-width: $main-max-width;
        padding: 30px;
        
        .introduction {
            justify-content: flex-start;
            margin-right: 35px;
            display: grid;
            grid-template-columns: 1fr 1fr;

            h1 {
                font-size: 1.6em;
                font-weight: 400;
            }

            > h1:first-child {
                grid-column: 1 / 3;
                margin-bottom: 30px;
            }

            article {
                color: $main-color;
                position: relative;
                box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
                border: 1px solid transparent;
                border-bottom-color: #cdcdcd;
                background-color: rgba(0, 0, 0, 0.1);
                padding: 15px 0 30px 0;
                cursor: crosshair;
                transition: border-color 300ms ease-in-out;
                
                .poem-infos, .poem-strophe {      
                    text-align: center;
                    margin-top: 1em;

                    a {
                        color: $main-color;
                    }
                }

                .poem-infos {
                    font-family: 'Parisienne', cursive;
                    font-size: 1.4em;

                    .poem-title a {
                        font-weight: bold;
                    }

                    .poem-author a {
                        font-weight: normal;  
                    }
                }

                .poem-strophe {
                    font-weight: 300;
                    
                    .poem-read-more {
                        display: inline-block;
                        font-weight: 400;

                        margin-top: 15px;
                        color: #757575;
                    }
                }

                &:nth-child(2) {
                    margin-right: 15px;
                    grid-column: 1 / 2;
                }

                &:nth-child(3) {
                    margin-left: 15px;
                    grid-column: 2 / 3;
                }

                &:hover {
                    border: 1px solid #757575;
                }
            }
        }
        
        .login {
            display: grid;
            user-select: none;

            h1 {
                font-size: 1.6em;
                font-weight: 400;
            }

            & > div {
                display: flex;
                flex-direction: column;
                margin-top: 30px;
                position: relative;

                &.login-text {
                    position: relative;
    
                    & >  label {
                        padding-bottom: 10px;
                        text-transform: uppercase;
                        font-weight: 300;
                        font-size: 1em;
                    }

                    & > i.fas {
                        position: absolute;
                        left: 10px;
                        bottom: 13px;
                        font-size: 0.9em;
                        z-index: 1;
                    }
    
                    &::after {
                        position: absolute;
                        content: '';
                        left: 1px; bottom: 1px;
                        width: 29px; height: 38px;
                        background-color: #BDBDBD;
                    }
                }

                & > input {
                    height: 40px;
                    padding: 0 38px;
                    border: 1px solid #E0E0E0;
                    font-family: 'Roboto', sans-serif;
                    font-size: 1em;
                    font-weight: 400;
                    transition: border-color 300ms ease-in-out;

                    &:hover, &:focus {
                        border-color: #212121;
                    }
                }

                span {
                    cursor: pointer;
                    color: #212121;
                    transition: color 200ms ease-in-out;

                    &:hover {
                        color: #757575;
                    }
                }

                &:nth-child(4) {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    margin-top: 40px;

                    & > div {
                        cursor: pointer;

                        & > label {
                            cursor: pointer;
                            padding-left: 2px;

                            transition: all 200ms ease-in-out; 
                        }
                        &:hover > label { 
                            color: #757575;
                        }
                    }

                    & > button {
                        cursor: pointer; 
                        width: 100px; height: 40px;
                        text-align: center;
                        font-family: 'Roboto', sans-serif;
                        font-size: 1em;
                        font-weight: 400;
                        color: #212121;
                        background-color: #BDBDBD;
                        border: 1px solid #E0E0E0;
                        transition: border-color 300ms ease-in-out;                        

                        &:hover {
                            border-color: #212121;
                        }
                    }
                }

                #login-error {
                    color: #C62828;
                    font-weight: 600;
                    transition: all 300ms ease-in-out;
                    border: 1px solid #C62828;
                    padding: 10px 5px;
                }

                &:last-child {
                    display: block;

                    span {
                        display: inline-block;
                        padding-left: 22px;

                        .fas {
                            position: absolute;
                            left: 0;
                            margin-top: 2px;
                            font-size: 0.9em;
                        }
                    }
                }
            }
        }
    }
}

.create-account {
    display: none;
    position: absolute;
    width: 100%;
    top: 80px; left: 0; right: 0; bottom: 0;
    padding-bottom: 30px;
    background-color: rgba(0, 0, 0, .75);
    z-index: 2;
    opacity: 0;
    transition: opacity 300ms ease-in-out;
    overflow-y: scroll;

    .container {
        display: grid;
        width: 100%; max-width: 1200px;
        margin: 30px auto 0 auto;
        padding: 15px 30px;
        background-color: #FAFAFA;
        
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "title title"
                             "fn ln"
                             "email email"
                             "pass rpass"
                             "capcha capcha"
                             "send send";

        box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);

        .title {
            grid-area: title;
            display: flex;
            flex-direction: row;

            & > h1 {
                flex: 1;
                font-size: 1.6em;
                font-weight: 400;
                
            }

            & > button {
                display: flex;
                justify-content: center;
                
                & > i {
                    margin-left: 5px;
                    font-size: 1.2em;
                }
            }
        }

        .first-name {
            grid-area: fn;
            margin-right: 15px;
        }

        .last-name {
            grid-area: ln;
            margin-left: 15px;


            input {
                padding-left: 10px;
            }
        }

        .email {
            grid-area: email;
        }

        .password {
            grid-area: pass;
            margin-right: 15px;
        }

        .repeat-password {
            grid-area: rpass;
            margin-left: 15px;

            input {
                padding-left: 10px;
            }
        }

        .capcha {
            grid-area: capcha;
        }

        .submit {
            grid-area: send;
        }

        & > div {
            display: flex;
            flex-direction: column;
            margin: 15px 0;
            position: relative;

            label {
                text-transform: uppercase;
                margin-bottom: 10px;
                font-weight: 300;
                font-size: 1em;
            }

            input {
                height: 40px;
                padding: 0 38px;
                border: 1px solid #E0E0E0;
                font-family: 'Roboto', sans-serif;
                font-size: 1em;
                font-weight: 400;
                transition: border-color 300ms ease-in-out;

                &:hover, &:focus {
                    border-color: #212121;
                }
            }  

            button {
                cursor: pointer; 
                width: 100px; height: 40px;
                text-align: center;
                font-family: 'Roboto', sans-serif;
                font-size: 1em;
                font-weight: 400;
                color: #212121;
                background-color: #BDBDBD;
                border: 1px solid #E0E0E0;
                transition: border-color 300ms ease-in-out;                        

                &:hover {
                    border-color: #212121;
                }
            }

            span {
                position: absolute;
                display: flex;
                flex-direction: column;
                justify-content: center;
                font-size: 0.9em;
                text-align: center;
                left: 1px; bottom: 1px;
                width: 29px; height: 38px;
                background-color: #BDBDBD;
            }

            &.submit {
                display: flex;
                align-items: flex-end;
                margin-top: 40px;

                .fas {
                    margin-right: 5px;
                }
            }
        }
    }
}

@media screen and (max-width: 1100px) {
    main .container {
        grid-template-columns: 1fr;
        grid-template-areas: "login" 
                             "intro";

        .introduction {
            margin: 30px 0 0 0;
            grid-area: intro;
        }

        .login {
            grid-area: login;
        }
    }
}

@media screen and (max-width: 1000px) {
    main {
        margin-top: 160px;
    }
    .create-account {
        top: 160px;
    }
}

@media screen and (max-width: 700px) {
    main .container .introduction {
        grid-template-columns: 1fr;

        article {
            &:nth-child(2) {
                margin: 0 0 15px 0;
                grid-column: 1 / 2;
            }

            &:nth-child(3) {
                margin: 15px 0 0 0;
                grid-column: 1 / 2;
            }
        }
    }

    .create-account .container {
        grid-template-columns: 1fr;
        grid-template-areas: "title"
                             "fn"
                             "ln"
                             "email"
                             "pass"
                             "rpass"
                             "capcha"
                             "send";

        .title {
            grid-area: title;
            margin-right: 0;
        }

        .first-name {
            grid-area: fn;
            margin-right: 0;
        }

        .last-name {
            grid-area: ln;
            margin-left: 0;
        }

        .email {
            grid-area: email;
        }

        .password {
            grid-area: pass;
            margin-right: 0;
        }

        .repeat-password {
            grid-area: rpass;
            margin-left: 0;
        }

        .capcha {
            grid-area: capcha;
        }

        .submit {
            grid-area: send;
        }
    }
}