$main-background-color: #FAFAFA;
$main-color: #212121;
$main-max-width: 1600px;

main {
  margin-top: 80px;
  display: flex;
  flex-direction: row;
  justify-content: center;

  .container {
    background-color: $main-background-color;
    width: 100%;
    max-width: $main-max-width;
    padding: 20px;

    & > .info {
      font-size: 1.2em;
      font-weight: 300;
      text-align: center;
      text-transform: uppercase;
      padding-bottom: 10px;
    }

    & > .poem {
      display: block;
      width: 100%;

      .poem-title, .poem-author {
        text-align: center;
        font-family: 'Parisienne', cursive;

        & > a {
          color: #212121;
        }
      }

      .poem-title {
        font-weight: bold;
        font-size: 3em;
      }

      .poem-author {
        font-size: 1.7em;
        padding-bottom: 30px;
      }

      .poem-strophes {
        display: block;

        pre {
          font-family: 'Roboto', sans-serif;
          text-align: center;
          margin-bottom: 20px;
          font-size: 1em;

          &.announce {
            text-transform: uppercase;
            font-size: 0.7em;
            color: #FF1744;
          }
        }
      }
    }

    & > .author > .container {
      margin: 0 auto;
      max-width: 800px;
      border-top: 1px solid #BDBDBD;
      text-align: center;

      & > a {
        color: #757575;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .menu-languages {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    position: fixed;
    width: 100%; max-width: 1300px;
    min-height: 50px;
    bottom: 0;
    padding-right: 50px;

    margin: 0 auto;

    box-shadow: 0 0 10px rgba(0, 0, 0, .15);
    background-color: rgba(255, 255, 255, .95);

    a {
      line-height: 50px;
      padding: 0 20px;
      text-transform: uppercase;
      font-size: 0.8em;
      font-weight: 300;
      color: #212121;
      position: relative;
      vertical-align: middle;

      img {
        margin-right: 7px;
      }

      &.active {
        color: #FAFAFA;
        background-color: #212121;
      }

      &.arrow {
        position: absolute;
        right: 0;
        font-size: 1em;

        &::after {
          right: 100%;
        }
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  main {
    margin-top: 160px;
  }
}