RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-l

RewriteRule ^(.+)$ index.php?URL=$1 [QSA,L]

ErrorDocument 404 /views/errors/404.php
ErrorDocument 403 /views/errors/403.php
