main .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
      grid-template-areas: "cn cn" "fn ln" "email email" "ta ta" "submit submit";
}

main .container .contact-name, main .container .first-name, main .container .last-name, main .container .email, main .container .textarea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px;
  position: relative;
}

main .container .contact-name label, main .container .first-name label, main .container .last-name label, main .container .email label, main .container .textarea label {
  padding-bottom: 20px;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 1.1em;
}

main .container .contact-name input, main .container .first-name input, main .container .last-name input, main .container .email input, main .container .textarea input {
  border: 1px solid #E0E0E0;
  height: 50px;
  padding: 0 40px;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  font-weight: 400;
}

main .container .contact-name span, main .container .first-name span, main .container .last-name span, main .container .email span, main .container .textarea span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  position: absolute;
  left: 20px;
  bottom: 20px;
  width: 30px;
  height: 50px;
  background-color: #BDBDBD;
}

main .container .contact-name {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: cn;
  padding: 0;
  font-family: 'Parisienne', cursive;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
}

main .container .first-name {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: fn;
}

main .container .last-name {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: ln;
}

main .container .email {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: email;
}

main .container .textarea {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: ta;
  position: relative;
}

main .container .textarea textarea {
  border: 1px solid #E0E0E0;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  font-weight: 400;
  padding: 10px 10px 0 10px;
  height: 300px;
  min-height: 100px;
  max-width: 100%;
  min-width: 100%;
}

main .container .submit {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: submit;
  margin: 10px 20px;
  position: relative;
  text-align: right;
}

main .container .submit button {
  cursor: pointer;
  width: 200px;
  height: 50px;
  font-family: 'Roboto', sans-serif;
  font-size: 1.2em;
  font-weight: 400;
  background-color: #BDBDBD;
  border: 1px solid #E0E0E0;
  text-align: center;
}

main .container .submit button .fas {
  margin-left: 6px;
  font-size: 0.8em;
}
/*# sourceMappingURL=contact.css.map */