main {
  margin-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .container {
  background-color: #FAFAFA;
  width: 100%;
  max-width: 1600px;
  padding: 20px;
}

main .container .main-poems {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

main .container .main-poems article {
  color: #212121;
  position: relative;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  border: 1px solid transparent;
  border-bottom-color: #cdcdcd;
  cursor: crosshair;
  margin: 20px 10px;
  padding: 15px 0 30px 0;
  background-color: rgba(0, 0, 0, 0.1);
}

main .container .main-poems article a {
  color: #212121;
}

main .container .main-poems article .poem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-left: 10px;
}

main .container .main-poems article .poem .poem-bookmark, main .container .main-poems article .poem .poem-title, main .container .main-poems article .poem .poem-author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px;
}

main .container .main-poems article .poem .poem-bookmark {
  padding-right: 10px;
}

main .container .main-poems article .poem .poem-bookmark i {
  cursor: pointer;
  margin-top: -3px;
  font-size: 1.3em;
}

main .container .main-poems article .poem .poem-title {
  font-family: 'Parisienne', cursive;
  font-weight: bold;
  font-size: 2.5em;
  margin-right: 20px;
  position: relative;
}

main .container .main-poems article .poem .poem-title::after {
  position: absolute;
  content: '';
  width: 6px;
  height: 6px;
  background-color: #757575;
  border-radius: 50%;
  right: -15px;
}

main .container .main-poems article .poem .poem-author {
  font-family: 'Parisienne', cursive;
  font-weight: normal;
  font-size: 1.8em;
}

main .container .main-poems article .poem-date {
  top: 20px;
  right: 20px;
  position: absolute;
  display: inline-block;
  text-transform: uppercase;
  color: #FAFAFA;
  background-color: #212121;
  border-radius: 2px;
  padding: 5px 10px;
  opacity: 0.5;
}

main .container .main-poems article .poem-strophe {
  padding-left: 45px;
  line-height: 1.5em;
}

main .container .main-poems article .poem-strophe p {
  font-weight: 300;
}

main .container .main-poems article .poem-strophe .poem-read-more {
  display: inline-block;
  padding-top: 10px;
}

main .container .main-poems article:hover {
  border: 1px solid #757575;
}
/*# sourceMappingURL=main.css.map */