main {
  margin-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .container .about-me {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30% 70%;
      grid-template-columns: 30% 70%;
}

main .container .about-me .photo {
  margin-top: 50px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 50% 50%;
      grid-template-rows: 50% 50%;
}

main .container .about-me .photo .image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

main .container .about-me .photo .image img {
  border-radius: 50%;
  border: 1px solid #BDBDBD;
  width: 50%;
}

main .container .about-me .photo .upload {
  overflow: hidden;
  display: -ms-grid;
  display: grid;
  margin-top: 19px;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .container .about-me .photo .upload button {
  cursor: pointer;
  width: 120px;
  height: 40px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  font-weight: 400;
  color: #212121;
  background-color: #BDBDBD;
  border: 1px solid #E0E0E0;
  -webkit-transition: border-color 300ms ease-in-out;
  transition: border-color 300ms ease-in-out;
}

main .container .about-me .photo .upload button:hover {
  border-color: #212121;
}

main .container .about-me .photo .upload button .fas {
  margin-right: 5px;
}

main .container .about-me .photo .upload input[type=file] {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

main .container .about-me .date-about-me {
  display: -ms-grid;
  display: grid;
  margin-left: 15px;
}

main .container .about-me .date-about-me > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 30px;
  position: relative;
}

main .container .about-me .date-about-me > div label {
  text-transform: uppercase;
  margin-bottom: 10px;
  font-weight: 300;
  font-size: 1em;
}

main .container .about-me .date-about-me > div input {
  height: 40px;
  padding: 0 38px;
  border: 1px solid #E0E0E0;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  font-weight: 400;
  -webkit-transition: border-color 300ms ease-in-out;
  transition: border-color 300ms ease-in-out;
}

main .container .about-me .date-about-me > div input:hover, main .container .about-me .date-about-me > div input:focus {
  border-color: #212121;
}

main .container .about-me .date-about-me > div button {
  cursor: pointer;
  width: 100px;
  height: 40px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  font-weight: 400;
  color: #212121;
  background-color: #BDBDBD;
  border: 1px solid #E0E0E0;
  -webkit-transition: border-color 300ms ease-in-out;
  transition: border-color 300ms ease-in-out;
}

main .container .about-me .date-about-me > div button:hover {
  border-color: #212121;
}

main .container .about-me .date-about-me > div span {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 0.9em;
  text-align: center;
  left: 1px;
  bottom: 1px;
  width: 29px;
  height: 38px;
  background-color: #BDBDBD;
}

main .container .about-me .date-about-me > div:nth-child(6) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-top: 40px;
  margin-right: 20px;
}

main .container .about-me .date-about-me > div:nth-child(6) .fas {
  margin-right: 5px;
}
/*# sourceMappingURL=settings.css.map */