$main-background-color: #FAFAFA;
$main-color: #212121;
$main-max-width: 1600px;

main {
    margin-top: 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;

    .container {

        .about-me{
            display: grid;
            grid-template-columns: 30% 70%;

            .photo{
                margin-top: 50px;
                display: grid;
                grid-template-rows: 50% 50%;

               
                .image{
                    display: flex;
                    justify-content: center;
                    align-items: flex-end;
                    img{
                        border-radius: 50%;
                        border: 1px solid #BDBDBD;
                        width: 50%;
                    }
                }

                .upload{
                    overflow: hidden;
                    display: grid;
                    margin-top: 19px;
                    align-content: flex-start;
                    justify-content: center;

                    button {
                        cursor: pointer; 
                        width: 120px; height: 40px;
                        text-align: center;
                        font-family: 'Roboto', sans-serif;
                        font-size: 1em;
                        font-weight: 400;
                        color: #212121;
                        background-color: #BDBDBD;
                        border: 1px solid #E0E0E0;
                        transition: border-color 300ms ease-in-out;
                        
                        &:hover {
                            border-color: #212121;
                        }

                        .fas{
                            margin-right: 5px;
                        }
                    }
                    
                    input[type=file] {
                        position: absolute;
                        left: 0;
                        top: 0;
                        opacity: 0;
                    }
                    
            }
        }
    
            .date-about-me{
                display: grid;
                margin-left: 15px;
                
                & > div {
                    display: flex;
                    flex-direction: column;
                    margin-top: 30px;
                    position: relative;
    
                    label {
                        text-transform: uppercase;
                        margin-bottom: 10px;
                        font-weight: 300;
                        font-size: 1em;
                    }
    
                    input {
                        height: 40px;
                        padding: 0 38px;
                        border: 1px solid #E0E0E0;
                        font-family: 'Roboto', sans-serif;
                        font-size: 1em;
                        font-weight: 400;
                        transition: border-color 300ms ease-in-out;
    
                        &:hover, &:focus {
                            border-color: #212121;
                        }
                        
                    }  

                    button {
                        cursor: pointer; 
                        width: 100px; height: 40px;
                        text-align: center;
                        font-family: 'Roboto', sans-serif;
                        font-size: 1em;
                        font-weight: 400;
                        color: #212121;
                        background-color: #BDBDBD;
                        border: 1px solid #E0E0E0;
                        transition: border-color 300ms ease-in-out;                        
            
                        &:hover {
                            border-color: #212121;
                        }
                    }

                    span {
                        position: absolute;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        font-size: 0.9em;
                        text-align: center;
                        left: 1px; bottom: 1px;
                        width: 29px; height: 38px;
                        background-color: #BDBDBD;
                    }

                    &:nth-child(6) {
                        display: flex;
                        align-items: flex-end;
                        margin-top: 40px;
                        margin-right: 20px;

                        .fas{
                            margin-right: 5px;
                        }
                    }
                }
            }

        }
    }
}

