main {
  margin-top: 80px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
main .container {
  background-color: #FAFAFA;
  width: 100%;
  max-width: 1600px;
  padding: 20px;
}
main .container form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "fn ln" "email email" "ta ta" "submit submit";
}
main .container form .contact-name, main .container form .first-name, main .container form .last-name, main .container form .email, main .container form .textarea {
  display: flex;
  flex-direction: column;
  padding: 20px;
  position: relative;
}
main .container form .contact-name label, main .container form .first-name label, main .container form .last-name label, main .container form .email label, main .container form .textarea label {
  padding-bottom: 20px;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 1.1em;
}
main .container form .contact-name input, main .container form .first-name input, main .container form .last-name input, main .container form .email input, main .container form .textarea input {
  border: 1px solid #E0E0E0;
  height: 50px;
  padding: 0 40px;
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  font-weight: 400;
}
main .container form .contact-name span, main .container form .first-name span, main .container form .last-name span, main .container form .email span, main .container form .textarea span {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  position: absolute;
  left: 20px;
  bottom: 20px;
  width: 30px;
  height: 50px;
  background-color: #BDBDBD;
}
main .container form #contact-error {
  color: #C62828;
  font-weight: 600;
  transition: all 300ms ease-in-out;
  border: 1px solid #C62828;
  padding: 10px 5px;
}
main .container form #contact-ok {
  color: #19C622;
  font-weight: 600;
  transition: all 300ms ease-in-out;
  border: 1px solid #2ec646;
  padding: 10px 5px;
}
main .container form .first-name {
  grid-area: fn;
}
main .container form .last-name {
  grid-area: ln;
}
main .container form .email {
  grid-area: email;
}
main .container form .textarea {
  grid-area: ta;
  position: relative;
}
main .container form .textarea textarea {
  border: 1px solid #E0E0E0;
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  font-weight: 400;
  padding: 10px 10px 0 10px;
  height: 300px;
  min-height: 100px;
  max-width: 100%;
  min-width: 100%;
}
main .container form .submit {
  grid-area: submit;
  margin: 10px 20px;
  position: relative;
  text-align: right;
}
main .container form .submit button {
  cursor: pointer;
  width: 200px;
  height: 50px;
  font-family: "Roboto", sans-serif;
  font-size: 1.2em;
  font-weight: 400;
  background-color: #BDBDBD;
  border: 1px solid #E0E0E0;
  text-align: center;
}
main .container form .submit button .fas {
  margin-left: 6px;
  font-size: 0.8em;
}

@media screen and (max-width: 1000px) {
  main {
    margin-top: 160px;
  }
}
@media screen and (max-width: 650px) {
  main .container {
    padding: 0;
  }
  main .container form {
    grid-template-columns: 1fr;
    grid-template-areas: "fn" "ln" "email" "ta" "submit";
  }
  main .container form .first-name {
    grid-area: fn;
  }
  main .container form .last-name {
    grid-area: ln;
  }
  main .container form .email {
    grid-area: email;
  }
  main .container form .textarea {
    grid-area: ta;
  }
  main .container form .submit {
    grid-area: submit;
  }
}

/*# sourceMappingURL=contact.css.map */
