header {
  position: fixed;
  display: flex;
  justify-content: center;
  z-index: 3;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: #FAFAFA;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
header .container {
  display: flex;
  flex-direction: row;
  flex: 1;
  width: 100%;
  max-width: 1600px;
  height: 80px;
  padding: 0 20px;
}
header .container .title {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
header .container .title a {
  font-family: "Parisienne", cursive;
  font-size: 3em;
  margin-top: 5px;
  color: #212121;
}
header .container .navigation {
  flex: auto;
  display: flex;
  justify-content: flex-end;
  font-size: 1.2em;
}
header .container .navigation .navigation-link {
  line-height: 50px;
  text-align: center;
  margin: 15px 0 15px 40px;
  color: #212121;
  padding: 0 10pt;
  border: 1px solid transparent;
}
header .container .navigation .navigation-link .fas {
  margin-left: 7px;
  font-size: 0.8em;
}
header .container .navigation .navigation-link.active {
  color: #666666;
  border: 1px solid #BDBDBD;
}
header .container .navigation #navigation-user {
  cursor: pointer;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 40pt;
  font-size: 0.9em;
  font-weight: 300;
}
header .container .navigation #navigation-user .user-label {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}
header .container .navigation #navigation-user .user-label .user-name, header .container .navigation #navigation-user .user-label .user-avatar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
header .container .navigation #navigation-user .user-label .user-name {
  height: 40px;
}
header .container .navigation #navigation-user .user-label .user-avatar {
  background: green;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  margin-left: 15px;
}
header .container .navigation #navigation-user .user-label .user-avatar img {
  width: 100%;
  height: 100%;
}
header .container .navigation #navigation-user #user-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  text-align: center;
  top: 80px;
  left: 0;
  width: 100%;
  background-color: #FAFAFA;
  height: auto;
  overflow: hidden;
  max-height: 500px;
  opacity: 1;
  transition: max-height 0.7s linear, opacity 0.2s ease-in-out;
  border: 1px solid #BDBDBD;
  border-top: 0;
}
header .container .navigation #navigation-user #user-menu.hidden {
  max-height: 0;
  opacity: 0;
}
header .container .navigation #navigation-user #user-menu a {
  padding: 10px 0;
  border-top: 1px solid #E0E0E0;
  color: #212121;
  font-size: 0.9em;
  transition: all 0.2s ease-in-out;
}
header .container .navigation #navigation-user #user-menu a:hover {
  background-color: #D1D1D1;
}
header .container .navigation #navigation-user #user-menu a .fas {
  margin-right: 7px;
  font-size: 0.8em;
}

@media screen and (max-width: 1000px) {
  header {
    position: absolute;
  }
  header .container {
    height: 160px;
    flex-direction: column;
  }
  header .container .title {
    text-align: center;
    height: 80px;
  }
  header .container .navigation {
    height: 80px;
    justify-content: space-around;
  }
  header .container .navigation .navigation-link, header .container .navigation #navigation-user {
    margin-left: 0;
    padding: 0;
  }
}
@media screen and (max-width: 650px) {
  header .container .navigation .navigation-link, #navigation-user {
    font-size: 0.9em;
  }
}
@media screen and (max-width: 450px) {
  header .container .navigation .navigation-link, #navigation-user {
    font-size: 0.8em;
  }
}
@media screen and (max-width: 320px) {
  header .container {
    padding-left: 15px;
    padding-right: 15px;
  }
  header .container .title {
    font-size: 0.8em;
  }
}

/*# sourceMappingURL=header.css.map */
