* {box-sizing: border-box;}
header {
        background-color: #bcaaa4;
        height: 100px;
}

header a {
  display: flex;
  color: black;
  padding: 34px;
  text-decoration: none;
  font-size: 40px;
  font-weight: bold;
  line-height: 25px;
  margin-left: 40px;
  font-family: 'Parisienne', cursive;
  transition: width 1s, height 1s, transform 1s;
}
header a:hover {
  transform:rotateX(360deg);
  color: white;
}


.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  margin-top: 6%;
}

img.avatar {
  width: 10%;
  border-radius: 50%;
}
img.avatarReg {
  width: 10%;
}
img.stanga-jos{
  display: flex;
  height: 300px;
  width: 300px;
    position: absolute;
    left: 60%;
    bottom: 20%;
}
img.avatarforgot {
  width: 17%;
  border-radius: 50%;
}
.container {
  padding: 16px;
  margin-left: 40%;
  margin-right: 40%;
}

a.info {
    font-size: 20px;
    text-decoration: none;
    position: absolute;
    left: 50%;
    font-family: 'Impact';
}
.forma a.info:hover {
  color: red;
}

.forma a.register-info {
    font-size: 20px;
    text-decoration: none;
    position: absolute;
    left: 50%;
    margin-right: 40px;
    margin-top: 38px;
    margin-left: -104px;
    font-family: 'Impact';
}
.forma a.infoAi {
    font-size: 20px;
    text-decoration: none;
    position: absolute;
    left: 50%;
    margin-right: 40px;
    margin-top: 38px;
    margin-left: -120px;
    font-family: 'Impact';
}
.forma a.infoAi:hover{
  color: cyan;
}
input[type=email], input[type=password],input[type=text] {
  width: 100%;
  padding: 10px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: bold;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}


button#reg {
  background-color: black;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}
footer {
  background-color: red;
  height: 100px;
}